.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
  display: flex;
}

.title-combo {
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  font-size: 2em;
}
